/* HEADER BUTTON */
.header-btn {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.header-btn button {
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
}

.header-btn .signup {
    background-color: #26a69a;
    color: white;
    border: none;
}

/* FILTER CARD */
.filter-card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #eaeaea;
}

/* HIGHLIGHT CARDS */
.card-highlight {
    padding: 20px;
    border-radius: 15px;
}

.cheap-bg {
    background-color: #ffe8d6;
    border: 1px solid #ffccb3;
}

.fast-bg {
    background-color: #e3f2fd;
    border: 1px solid #bbdefb;
}

/* RESULT CARD */
.result-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    border-radius: 16px;
    border: 1px solid #eee;
    margin-bottom: 12px;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

/* SELECT BUTTON */
.select-btn {
    background:#26a69a;
    color:white;
    border:none;
    padding:6px 15px;
    border-radius:10px;
    cursor:pointer;
}

/* TRANSPORT MODE BUTTON */

.mode-normal button {
    background: white;
    border: 1px solid #ddd;
    color: black;
}

.mode-active button {
    background: #26a69a !important;
    color: white !important;
    border: none !important;
}

.mode-normal button:hover {
    border: 1px solid #26a69a;
    color: #26a69a;
}

/* DASHBOARD VERSION (biar gak tabrakan) */
.dash-filter {
    background-color: #f8f9fa;
}

.dash-card {
    border-radius: 15px;
}

/* RESULT PAGE */
.result-card {
    background: white;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    font-size: 14px;
}

/* Sidebar tetap konsisten */
/* .sidebar-dashboard {
    background: linear-gradient(to bottom, #e6f4f3, #cfe8e6);
    padding: 20px;
    border-radius: 15px;
    height: 100%;
} */

/* This targets the entire sidebar area */
[data-testid="stSidebar"] {
    background-color: #f8f9fa;
    padding: 2rem 1rem;
}

/* This targets the buttons inside the sidebar */
[data-testid="stSidebar"] .stButton > button {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: all 0.3s ease;
}

[data-testid="stSidebar"] .stButton > button:hover {
    border-color: #ff4b4b;
    color: #ff4b4b;
    background-color: #fffafa;
}